Keras==2.3.1
tensorflow-gpu==1.15.2
numpy==1.15.0
opencv-python==3.4.4.19
scikit-learn==0.21.2
scipy==1.1.0
Pillow
pyqt==5.9.2
qtpy==1.9.0
torch==1.5.1
torchvision==0.6.1
sqlite==3.32.3
sqlalchemy==1.3.18
